streamlit
google-generativeai
Pillow
pandas
matplotlib
plotly
sqlalchemy
python-dotenv
PyPDF2
requests
numpy
opencv-python-headless
pytesseract
groq
langchain-groq
langchain-core
langchain-text-splitters
langchain-community
langchain
